.container{
    max-width: 114rem;
    margin: 0 auto;
    // display: flex;
    // flex-direction: column;
    // gap: 10rem;
}

.text-container{
    display: flex;
    gap: 5rem;
    &-column{
       flex-direction: column;
    }
}

.text-align{
    &-center{
        text-align: center;
    }
    &-left{
        text-align: left;
    }
}

// Margins

.mb-l {
    margin-bottom: 15rem;
}

.mb-m {
    margin-bottom: 10rem;
}

.mb-s {
    margin-bottom: 4rem;
}

.mb-xs {
    margin-bottom: 1.8rem;
}