.container{
    max-width: 114rem;
    margin: 0 auto;
    text-align: center;
    // display: flex;
    // flex-direction: column;
    // gap: 10rem;
}

.mb-15 {
    margin-bottom: 15rem;
}

.mb-10 {
    margin-bottom: 10rem;
}

.mb-5 {
    margin-bottom: 5rem;
}